@page
@model Technovator_Web_App.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

    <style>
        .container {
            text-align: center;
        }

        .img {
            border: 2px solid black;
        }

        .navbar .navbar-brand {
            font-weight: bold;
            font-size: 1.5em;
            color: #007bff !important;
            visibility: visible !important;
            display: block !important;
            color: black;
        }

        h1 {
            text-decoration: underline;
        }

        .login-btn {
            font-size: 1.5em; /* Increase font size */
            padding: 20px 40px; /* Increase padding */
            background-color: #007bff; /* Button background color */
            color: white; /* Button text color */
            border: none; /* Remove border */
            border-radius: 5px; /* Add border radius for rounded corners */
            cursor: pointer; /* Add cursor pointer */
        }

            .login-btn:hover {
                background-color: #0056b3; /* Darken background on hover */
            }
    </style>
<body>
    <div class="container">
        <img src="~/images/umass.png" alt="Umass Boston" class="img" />
        <h1><em>Beacon Flex App</em></h1>
        <p>
            <a href="/Login" class="login-btn">Login</a> to join a meeting.
        </p>
    </div>
</body>

