@page
@model Technovator_Web_App.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container">
    <h1>Umass Boston</h1>
    <h2>Welcome to the Technovator App</h2>
    <p>
        <a href="/Login">Login</a> to join a meeting.
    </p>
</div>
