@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@* Include the back button partial view *@
<partial name="_BackButton" />

<h1>@ViewData["Title"]</h1>

<p>All rights Reserved</p>


@section Styles {
    <style>
        h1 {
            text-decoration: underline;
        }
    </style>
}

